@import "../../../scss/variables";
@import "../../../scss/mixins";

.corners-lable {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  border: $border-width solid rgba($color: $black, $alpha: 0.2);
  border-radius: 5px;
  padding: 2em 2em;

  @include hover {
    box-shadow: 0px 0px 18px -4px rgba(0, 0, 0, 0.64);
  }

  &__icon {
    svg {
      font-size: 3.5rem;
    }
  }

  &__text {
    color: $light-black;
  }

  &__description {
    color: $light-grey;
    font-size: 1.4rem;
  }
  &.active {
    transition: none;
    box-shadow: 0 0 0 0.125rem $green;
  }
}
