@import "./mixins";
.mock-up {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 350px;
  gap: 25px;

  &__item {
    box-shadow: 0 2px 4px 0 rgba(75, 79, 84, 0.25);
    @include hover() {
      box-shadow: 0 3px 10px 0 rgba(75, 79, 84, 0.3);
    }
  }
}


