.upload-design {
    height: 100%;
    font-size: 1.6rem;
    color: #545454;
    &__wrraper {
      display: block;
    }
  
    &__title{
        font-size: 1.8rem;
    }
  
    &__subtitle{
        font-size: 1.5rem;
    }
    &__features {
      padding: 1em 0 1.2em 1em;
    }
  
    &__footer{
      padding: 0 0 0 1em
    }
  }