@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

$border-width:1px;


//colors 
$white:#fff;
$black:#000;
$light-black:#323c49;
$light-grey:#434F61;
$royalblue:royalblue;
$dark-grey:#434f61;
$green: #009870;