@import "../../../scss/mixins";

.product-image-wrapper{
position: relative;
overflow: hidden;
display: block;
padding-top: 100%;
z-index:5;
&_img{
@include posA($top:50%,$left:50%,$delta_x:-50%,$delta_y:-50%);
min-width: 100%;
min-height: 100%;
z-index: -3;
}
&_prewiev-img{
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    width: 300%;
    max-width: 300%;
    will-change: transform;
    
    &.prewiev-img--centered {
        transform: translateX(-33.334%);
    }
    &.prewiev-img--left {
        transform: translateX(0%);
    }
    &.prewiev-img--right {
        transform: translateX(-66.666%);
    }
}
}